/* gallery.php styles */

h3{
    font-size: 34px;
    font-weight: 400;
    margin: 75px;
    text-align: center;
}

.gallery__container{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
}

.gallery_photo {
    margin:5px;
}

.gallery_paragraph{
    text-align: center;
    margin: 10px;
}